body{
    padding: 30px;
    background: #cccccc;
}

h1{
    margin: 0;
}

.contenedor{
    max-width: 1200px;
}

.lista li{
    color: rgb(173, 0, 159);
    font-weight: bold;
}
.lista li ul li{
    color: #000000;
    font-weight: normal;
}